<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Головна сторінка<span class="text-muted"></span></h2>
        <p class="lead">Я. Про життя, роботу і меми. Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.Я. Про життя, роботу і меми.</p>
        
      </div>
      <div class="col-md-5">
        <%= image_tag "logo.png", size: '320' %>

      </div>
    </div>
