<h1>Останні дописи:</h1>
<% @post.each do |post| %>
	<div class="alert alert-light"> 
		<h3><%= post.title %></h4>
		<p><%= post.body %></p>
		<%= link_to "Читати", post_path(post), :class => 'btn btn-outline-primary' %>
	</div>
<% end %>